{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs -->
        <div class="row">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Add Doctor</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Add Staff</li>
                        <li class="breadcrumb-item active"><a href="#">Doctor</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs -->

        <!-- START: Card Data -->
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">Staff Information</h6>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form method="post" action="{% url 'add_doctor' %}">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="inputFirstName" class="col-md-3 col-form-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control rounded" id="inputFirstName" name="first_name" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputLastName" class="col-md-3 col-form-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputLastName" name="last_name" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-md-3 col-form-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputSpecialty" class="col-md-3 col-form-label">Specialty</label>
                                    <div class="col-md-9">
                                        <select id="inputSpecialty" class="form-control">
                                            <option value="">Select Specialty</option>
                                            <option value="Anesthesiology">Anesthesiology</option>
                                            <option value="Cardiology">Cardiology</option>
                                            <option value="Dermatology">Dermatology</option>
                                            <option value="Endocrinology">Endocrinology</option>
                                            <option value="Gastroenterology">Gastroenterology</option>
                                            <option value="Hematology">Hematology</option>
                                            <option value="Infectious Disease">Infectious Disease</option>
                                            <option value="Nephrology">Nephrology</option>
                                            <option value="Neurology">Neurology</option>
                                            <option value="Oncology">Oncology</option>
                                            <option value="Ophthalmology">Ophthalmology</option>
                                            <option value="Orthopedics">Orthopedics</option>
                                            <option value="Otolaryngology (ENT)">Otolaryngology (ENT)</option>
                                            <option value="Pediatrics">Pediatrics</option>
                                            <option value="Physical Medicine and Rehabilitation">Physical Medicine and Rehabilitation</option>
                                            <option value="Psychiatry">Psychiatry</option>
                                            <option value="Pulmonology">Pulmonology</option>
                                            <option value="Radiology">Radiology</option>
                                            <option value="Rheumatology">Rheumatology</option>
                                            <option value="Urology">Urology</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputLicenseNumber" class="col-md-3 col-form-label">License Number</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputLicenseNumber" name="license_number" placeholder="License Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputDateOfBirth" class="col-md-3 col-form-label">Date of Birth</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control datepicker" id="inputDateOfBirth" name="date_of_birth">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputGender" class="col-md-3 col-form-label">Gender</label>
                                    <div class="col-md-9">
                                        <select id="inputGender" class="form-control" name="gender">
                                            <option selected>Choose...</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-9 offset-md-3">
                                        <button type="submit" class="btn btn-primary">Add Staff</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA -->
    </div>
</main>

<!-- Include Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Include Select2 JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<!-- Initialize Select2 -->
<script>
    $(document).ready(function() {
        $('#inputSpecialty').select2();
    });
</script>

{% endblock %}
