{% extends 'base.html' %}
{% block content %}
<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Hospital Files</h4></div>
                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">HMS</li>
                        <li class="breadcrumb-item">Healthcare Data</li>
                        <li class="breadcrumb-item active"><a href="#">Hospital Files</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header justify-content-between align-items-center">
                        <h4 class="card-title">Hospital Files</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display table dataTable table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>File Number</th>
                                        <th>Patient Name</th>
                                        <th>Date of Birth</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file_data in file_data %}
                                    <tr>
                                        <td>{{ file_data.number }}</td>
                                        <td>{{ file_data.patient.first_name }} {{ file_data.patient.last_name }}</td>
                                        <td>{{ file_data.patient.date_of_birth }}</td>
                                        <td>
                                            <a href="{% url 'view_file' file_data.pk %}" class="btn btn-sm btn-info">View</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<!-- END: Content-->
{% endblock %}
