{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs -->
        <div class="row">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Hospital Records</h4></div>

                    <!-- START: Search Bar -->
                    <!-- <div class="row mb-3">
                        <div class="col-12">
                            <form class="form-inline">
                                <input type="text" class="form-control mr-2" placeholder="Search">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                    </div> -->
                    <!-- END: Search Bar -->

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Hospital</li>
                        <li class="breadcrumb-item active"><a href="{% url 'records' %}">Records</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs -->

        <!-- START: Records -->
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header  justify-content-between align-items-center">                               
                        <h4 class="card-title">HealthcareData</h4> 
                    </div> 
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display table dataTable table-striped table-bordered" >               
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Record #</th>
                            <th>Patient Name</th>
                            <th>Doctor</th>
                            <th>Diagnosis</th>
                            <th>Admission Date</th>
                            <th>Blood Pressure</th>
                            <th>Heart Rate</th>
                            <th>Temperature</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in medical_records %}
                        <tr>
                            <td>{{ record.id }}</td>
                            <td>{{ record.file_number.patient }}</td>
                            <td>{{ record.doctor.user.first_name }} {{ record.doctor.user.last_name }}</td>
                            <td>{{ record.diagnosis.name }}</td>
                            <td>{{ record.date_created }}</td>
                            <td>{{ record.blood_pressure }}</td>
                            <td>{{ record.heart_rate }}</td>
                            <td>{{ record.temperature }}</td>
                            <td>
                                <a href="{% url 'view_record' record.id %}" class="btn btn-primary btn-sm">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> 

</div>                  
</div>
<!-- END: Card DATA-->
</div>
</main>
<!-- END: Content-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#searchInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("table tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>

<!-- START: Page Vendor JS-->
<script src="{% static '/vendors/datatable/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static '/vendors/datatable/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/jszip/jszip.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static '/vendors/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static '/vendors/datatable/buttons/js/buttons.print.min.js' %}"></script>
<!-- END: Page Vendor JS-->

<!-- START: Page Script JS-->        
<script src="{% static '/js/datatable.script.js' %}"></script>
<!-- END: Page Script JS-->
{%endblock%}
