{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto">
                        <h4 class="mb-0">Appointments Board</h4>
                    </div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">App</li>
                        <li class="breadcrumb-item active"><a href="#">Task Board</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="row task-list-row">
            <!-- Todo -->
            <div class="col-12 col-md-4 mt-3 task-list-item">
                <div class="card bg-primary-light" style="height: 500px;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="card-title">Todo</h6>
                        <div class="dropdown">
                            <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ml-2 icon-arrow-down"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right border py-0">
                                <li><a class="dropdown-item edit" href="#"><i class="icon-pencil"></i> Rename</a></li>
                                <li><a class="dropdown-item delete" href="#"><i class="icon-trash"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="task-list">
                            <!-- Appointments in Todo -->
                            {% for appointment in pending_appointments %}
                            <div class="card my-2 task-card overflow-auto">
                                <div class="card-content">
                                    <div class="card-body p-4 body-color">
                                        <h6 class="mb-3 font-w-600">Patient: {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</h6>
                                        <h6 class="mb-3 font-w-600">Doctor: {{ appointment.doctor }}</h6>
                                        <div class="task-content mb-3">{{ appointment.purpose }}</div>
                                        <p class="font-w-500 tx-s-12"><i class="icon-calendar"></i> <span class="task-date">{{ appointment.appointment_date }}</span></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <a href="{% url 'change_appointment_status' appointment_id=appointment.id new_status='in_progress' %}" class="btn btn-success"><i class="fas fa-play"></i> Start Appointment</a>
                                            </div>
                                            <!-- <div>
                                                <button class="btn btn-danger delete-task" data-appointment-id="{{ appointment.id }}"><i class="icon-trash"></i> Delete</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- In Progress -->
            <div class="col-12 col-md-4 mt-3 task-list-item">
                <div class="card bg-primary-light" style="height: 1200px !important;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="card-title">In Progress</h6>
                        <div class="dropdown">
                            <a href="#" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ml-2 icon-arrow-down"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right border py-0">
                                <li><a class="dropdown-item edit" href="#" data-toggle="modal" data-target="#edittask"><i class="icon-pencil"></i> Rename</a></li>
                                <li><a class="dropdown-item delete" href="#"><i class="icon-trash"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="task-list">
                            <!-- Appointments in In Progress -->
                            {% for appointment in in_progress_appointments %}
                            <div class="card my-2 task-card overflow-auto">
                                <div class="card-content">
                                    <div class="card-body p-4 body-color">
                                        <h6 class="mb-3 font-w-600">Patient: {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</h6>
                                        <h6 class="mb-3 font-w-600">Doctor: {{ appointment.doctor }}</h6>                                        
                                        <div class="task-content mb-3">{{ appointment.purpose }}</div>
                                        <p class="font-w-500 tx-s-12"><i class="icon-calendar"></i> <span class="task-date">{{ appointment.appointment_date }}</span></p>
                                        <div class="d-flex justify-content-between align-items-left">
                                            <div>
                                                <a href="{% url 'change_appointment_status' appointment_id=appointment.id new_status='completed' %}" class="btn btn-success"><i class="fas fa-check-circle"></i> Mark as Completed</a>
                                            </div>
                                            <!-- <div>
                                                <button class="btn btn-danger delete-task" data-appointment-id="{{ appointment.id }}"><i class="icon-trash"></i> Delete</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Completed -->
            <div class="col-12 col-md-4 mt-3 task-list-item">
                <div class="card bg-primary-light" style="height: 500px;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="card-title">Completed</h6>
                        <div class="dropdown">
                            <a href="#" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ml-2 icon-arrow-down"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right border py-0">
                                <li><a class="dropdown-item edit" href="#" data-toggle="modal" data-target="#edittask"><i class="icon-pencil"></i> Rename</a></li>
                                <li><a class="dropdown-item delete" href="#"><i class="icon-trash"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="task-list">
                            <!-- Appointments in Completed -->
                            {% for appointment in completed_appointments %}
                            <div class="card my-2 task-card overflow-auto">
                                <div class="card-content">
                                    <div class="card-body p-4 body-color">
                                        <h6 class="mb-3 font-w-600">Patient: {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</h6>
                                        <h6 class="mb-3 font-w-600">Doctor: {{ appointment.doctor }}</h6>                                        
                                        <div class="task-content mb-3">{{ appointment.purpose }}</div>
                                        <p class="font-w-500 tx-s-12"><i class="icon-calendar"></i> <span class="task-date">{{ appointment.appointment_date }}</span></p>
                                        <div class="d-flex">
                                            <div>
                                                <!-- No action button for completed appointments -->
                                            </div>
                                            <!-- <div>
                                                <button class="btn btn-danger delete-task" data-appointment-id="{{ appointment.id }}"><i class="icon-trash"></i> Delete</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<!-- END: Content-->
</body>
</html>

<style>
    .task-list-item {
        overflow-y: auto;
        max-height: 500px; /* Adjust the max height as needed */
    }
</style>

{% endblock %}
